.banner_contato{
  width: 100%;
  height: 206px;
  background: url(../img/fale_conosco.png);
  border-bottom: 2px solid #D9D9D9;
  background-size: cover;
  margin-top: 135px;
  padding-top: 35px;
}

.banner_contato h1{
  max-width: 540px;
  font-size: 48px;
  text-align: center;
  margin-left: 140px;
  color: #262262;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitulo{
  margin-top: 60px;
}

.contato{
  margin-top: 60px;
}

.contato div p{
  text-align: center;
  padding-bottom: 10px;
  line-height: 20px;
}

.contato p a{
  color: #000000;
}

.contato_lista li:nth-child(1) p:nth-child(2){
  margin-bottom: 8.5px;
}

.contato_lista li p img{
  display:inline-block;
  position:relative;
  top: 3px;
  width: 15px;
  height: 15px;
}

.mapa{
  margin-top: 60px;
  margin-bottom: 60px;
}