.banner_objetivos_inf{
  width: 100%;
  height: 206px;
  background: url(../img/edi_desk.jpg);
  background-size: cover;
  margin-top: 135px;
  padding-top: 35px;
}

.objetivos{
  color: #262262;
  padding: 60px 0;
}

.justificar{
  text-align: justify;
}

.objetivos h3{
  border-right: 3px solid #262262;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
}

.objetivos p{
  font-size: 16px;
  line-height: 25px;
  padding-top: 15px;
}

.resumo_ed h3{
  margin-top: 60px; 
}

.resumo_ed p{
  max-width: 745px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
}

.lista_infos ul li{
  margin: 60px 0;
}

.lista_infos ul li h3{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
}

.lista_infos ul li h3:nth-child(even){
  color: #262262;
}

.lista_infos ul li h3:nth-child(odd){
  color: #248747;
}

.call_action div{
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #D9D9D9;
  height: 144px;
}

.call_action div:hover{
  background: #262262;
}

.call_action div:hover h3{
  color: #ffffff;
}

.call_action div:hover h3::after{
  background: #ffffff;
}

.call_action div:hover a{
  border-color: #ffffff;
  color: #ffffff;
}

.call_action div:hover a:hover{
  border-color: #248747;
  color: #248747;
}

.call_action div h3{
  padding: 8px 21px;
  font-size: 20px;
  line-height: 25px;
  height: 80px;
}

.call_action div a{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 20px 50px;
  display: block;
  padding: 3px;
  
}

.call_action div:nth-child(1){
  margin-left: 308px;
  margin-right: 123px;
}

.call_action div:nth-child(2){
  margin-right: 0;
}