.logos div div img{
    width: 100%;
    margin: 0 auto;
}

#trd_logo{
    padding-top: 51px;
}

.logos div div p{
 text-align: center;
 padding-top: 10px;
}


.logos div div:nth-last-child() p{
    padding-top: 44px;
}