.matricula h3{
  margin-top: 60px;
  text-transform: uppercase;
  text-align: center;
  font: 20px;
  font-weight: bold;
  color: #262262;
}

.matricula ul{
  padding-top: 60px;
  padding-left: 30px;
}

.matricula ul h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  color: #2B4B96;
}

.matricula ul li{
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
}

.matricula ul li a{
  color: #000000;
}

.matricula ul li a:hover{
  color: #2B4B96;
  text-decoration: underline;
}

.call_action{
  text-align: center;
  margin: 60px 0;
}

.call_action p{
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}

.call_action a{
  padding: 5px;
}