.banner_objetivos{
  width: 100%;
  height: 206px;
  background: url(../img/banner_objetivos.png);
  background-size: cover;
  margin-top: 92px;
  padding-top: 35px;
}

.banner_objetivos h1{
  font-size: 48px;
  max-width: 502px;
  margin-left: 749px;
  margin-top: 50px;
  color: #262262;
  font-weight: bold;
  text-transform: uppercase;
}

.objetivos{
  color: #262262;
  padding: 60px 0;
}

.objetivos h3{
  border-right: 3px solid #262262;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
}

.objetivos p{
  font-size: 14px;
  line-height: 25px;
  padding-top: 15px;
  color: #6A6565;
}

.obj_lista{
  margin-bottom: 60px;
}

.obj_lista li{
  border: 1px solid #D9D9D9;
}


.obj_icon img{
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.obj_lista li p{
  font-size: 18px;
  line-height: 25px;
  color: #6A6565;
  text-align:center;
  max-width: 240px;
  margin: 0 auto;
  padding-bottom: 60px;
}