.banner_sobre{
  width: 100%;
  height: 206px;
  background: url(../img/banner_escola.jpg);
  background-size: cover;
  margin-top: 135px;
  padding-top: 35px;
}

.banner_sobre h1{
  font-size: 48px;
  max-width: 502px;
  margin-left: 749px;
  margin-top: 50px;
  color: #262262;
  font-weight: bold;
  text-transform: uppercase;
}

.historia div{
  margin: 0 auto;
}

.historia h3{
  margin-top: 60px;
}

.historia p{
  text-align: justify;
  max-width: 580px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
}

.historia img{
  margin: 0 auto;
  padding-top: 30px;
}

.historia div:nth-child(2){
  margin-bottom: 60px;
}

.links_sobre li{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 60px;
}

.links_sobre li a{
  padding: 10px;
  border: 1px solid #d9d9d9;
  text-transform: uppercase;
  font-weight: bold;
  color: #262262;
}

.links_sobre li a:hover{
  background: #262262;
  color: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9;
}