/* classes gerais */
body{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 25px;
}

img{
  display: block;
  max-width: 100%;
}

.call{
  text-align: center;
  padding-top: 40px;
  clear:both;
}

.call p{
  margin-bottom: 20px;
}

.subtitulo{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #262262;
  text-transform: uppercase;
  text-align: center;
}

.subtitulo::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #262262;
  margin: 8px auto 40px;
}

.btn{
  color: #648CB3;
  border: 3px solid #648CB3;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.btn:hover{
  color: #248747;
  border: 3px solid #248747;
}

/* header */
.alt p{
  display: inline-block;
  content: " ";
}

.atalho_contato ul li:nth-child(1){
  
}

.atalho_contato ul li a{
 
}

.atalho_contato{
  padding-left: 15px;
}

.atalho_contato li{
  display: inline-block;
}

.atalho_contato li img{
  position: relative;
  top: 22px;
  left: 22px;
  width: 24px;
  height: 24px;
}

.atalho_contato li a{
  padding-left: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #262262;
}


.header{
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #D9D9D9;
  z-index: 10;
}

.header_menu{
  text-align: right;
}

.menu_mobile{
  display: none;
}

.header_menu ul li{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.header_menu ul{
  padding: 0;
}

.header_menu ul ul{
  display: none;
}

.header_menu ul li:hover > ul{
  display: block;
}

.sub_menu {
  position: absolute;
  background: #ffffff;
  text-align: left;

}

.sub_menu li{
  padding-left: 15px;
  padding-bottom: 8px;
}

.header_menu ul li a{
  color: #262262;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 10px 0;
}

.header_menu ul li a:hover{
  color: #648CB3;
}

.header_menu ul li a.menu_ativo{
  color: #648CB3;
}

.menu_ativo li a{
  color: #648CB3;
}

 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #262262;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a{
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 8px 8px 32px;
  color: #d9d9d9;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}

.sidenav ul li a {
  padding: 8px 8px 8px 50px;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

/* banner-home */
.banner_home div a img{
  width: 100%;
  height: 475px;
  background-size: cover;
  margin-top: 74px;
}

.img-1{
  width: 100%;
  height: 475px;
  margin-top: 135px;
  background: url(../img/conectados_ao_mundo_magico.jpg);
}

.img-2{
  width: 100%;
  height: 475px;
  margin-top: 135px;
  background: url(../img/UM_MUNDO_DE_OPORTUNIDADES.jpg);
}

.img-3{
  width: 100%;
  height: 475px;
  margin-top: 135px;
  background: url(../img/hotelzinho_home.jpg);
}

.img-4{
  width: 100%;
  height: 475px;
  margin-top: 135px;
  background: url(../img/semanaambiente.png);
}

/* links rapidos */

.links{
  padding: 60px 0;
}

.lista_links li{
  border: 1px solid #D9D9D9;
  height: 318px;
}

.lista_links li:hover {
  background: #262262;
  box-shadow: 5px 5px 10px #d9d9d9;
}

.lista_links li:hover h3{
  color: #ffffff;
}

.lista_links li:hover p{
  color: #ffffff;
}

.lista_links li:hover a{
  color: #ffffff;
  border-color: #ffffff;
}

.lista_links li:hover a:hover{
  color: #248747;
  border-color: #248747;
}

.lista_links li h3{
  color: #262262;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding: 15px 40px;
}

.lista_links li:nth-child(2) h3{
  padding: 30px 0 40px;
}

.lista_links li:nth-child(2) p{
  text-align: center;
}

.lista_links li:nth-child(3) h3{
  padding: 30px 0 40px;
}

.lista_links li:nth-child(3) p{
  text-align: left;
}

.lista_links li p{
  font-size: 18px;
  line-height: 20px;
  color: #484b4d;
  padding: 0 16px 0 16px;
}

.lista_links li a{
  margin: 23px 0 32px 37px;
  padding: 8px 0;
  display: inline-block;
}

.btn_links{
  color: #648CB3;
  border: 3px solid #648CB3;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  text-align: center;
  width: 142px;
  height: 40px;
}

.btn_links:hover{
  color: #248747;
  border: 3px solid #248747;
}

.lista_links li:nth-child(2) a{
  margin-top: 54px;
}

.lista_links li:nth-child(3) a{
  margin-top: 34px;
}

.lista_links li:nth-child(4) a{
  margin-top: 64px;
}

/*.lista_links li:hover{
  background: #262262;
  color: #ffffff;
}*/

/* Resumo Sobre */

.resumo_sobre{
  background: url(../img/about_bg_image.png);
  background-size: cover;
}

.resumo_sobre h2{
  padding-top: 47px;
  color: #ffffff;
}

.resumo_sobre h2::after{
  background: #ffffff;
}

.resumo_sobre p{
  text-align: center;
  color: #ffffff;
  max-width: 580px;
  margin: 0 auto;
}

/* Qualidade */

.qualidade{
  padding:60px 0;
}

.qualidade::after{
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  z-index: -1;
  top: 212px;
  right: 162px;
}

.qualidade_lista{
  padding-top: 20px;
  overflow: auto; /* clear-fix  */
}

.qualidade img{
  margin: 0 auto;
}

.qualidade_lista li{
  text-align: center;
  padding: 0 40px;
}


.qualidade_lista li h3{
  font-weight: bold;
  color: #262262;
  text-transform: uppercase;
  font-family: 18px;
  line-height: 25px;
  margin-top: 20px;
  letter-spacing: .1em;
}

.qualidade_lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #262262;
  margin: 6px auto;
}

.qualidade .call .btn{
  padding: 8px 10px;
}

/* quebra depoimentos */

.depoimentos{
  background: url(../img/depoimentos_bg_img.png);
  background-size: cover;
}

.depoimentos h2{
  padding-top: 47px;
  color: #ffffff;
}

.depoimentos h2::after{
  background: #ffffff;
}

.depoimentos p{
  text-align: center;
  color: #ffffff;
  max-width: 580px;
  margin: 0 auto;
}

.depoimentos cite{
  display: block;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.author{
  padding-bottom: 20px;
  padding-top: 10px;
}

/* contato home page */

.contato{
  
}

.contato h3{
  max-width: 318px;
  text-align: center;
  margin: 0 auto;
}

.contato_square{
  width: 390px;
  height: 214px;
  content: " ";
  background: #262262;
  padding: 0 ;
}

/* footer */

.footer{
  margin-top: 30px;
  border-top: 1px solid #D9D9D9;
}

.footer_img{
  padding: 40px 0;
}

.nav_footer{
  padding-top: 24px;
  padding-bottom: 12px;
}

.nav_footer h3{
  color: #262262;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.nav_footer li{
  padding-bottom: 8px;
  padding-left: 4px;
}

.nav_footer a{
  color: #2B4B96;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1em;
}

.nav_footer a:hover{
  color: #248747;
}

.contato_footer{
  padding-top: 24px;
}

.contato_footer h3{
  color: #262262;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.contato_footer li{
  color: #2B4B96;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1em;
  padding-bottom: 8px;
  padding-left: 4px;
}

.redes_footer{
  padding-top: 24px;
}

.redes_footer h3{
  color: #262262;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.redes_footer ul{
  margin: 14px;
}

.redes_footer li{
  display: inline-block;
  padding: 8px 5px;
}

/* coppy */

.copy{
  background: #2B4B96;
  text-align: center;
  color: #ffffff;
  padding: 19px 0;
}

.copy .dev a{
  color: #ffffff;
}

/* JS */

/* javascript */

.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  pointer-events: none;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
  pointer-events: initial;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: 2px solid #262262;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: none;

}

.js [data-slide-nav] button.active{
  background: #248747;
}

/* Animação */

.js [data-anime]{
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: 800ms, 800ms;
}

.banner_pedagogico{
 background: url(../img/1400\ x\ 206.jpg);
 width: 100%;
 height: 206px;
 background-size: cover;
 margin-top: 92px;
 padding-top: 35px;
}

.historia nav ul{
  margin-top: 75px;
}

.historia nav ul li{
  padding-bottom: 20px;
  padding-left: 30px;
}

.historia nav ul li a{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:#262262;
  font-weight: bold;
}

.historia nav ul li a:hover{
  color: #2B4B96;
  border-bottom: 2px solid #2B4B96;
}

.historia nav ul li .menu_ativo{
  color: #648CB3;
  border-bottom: 2px solid #648CB3;
}